.pagination-container {
  width: 90%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

.page-number {
  margin: 1% !important;
  font-size: 17px !important;
}

.page-number:hover{
background-color: dodgerblue !important;
color: #fff !important;
border: none !important;
}

.pagination-collapse {
  margin-bottom: 10px;
  border: 1px solid dodgerblue;
  border-radius: 5px;
}

.pagination-collapse > * > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 5px;
}
