.word-card {
  width: 250px;
  padding: 10px;
  display: grid;
  background-color: rgb(252, 252, 252) !important;
  z-index:5;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.word {
  font-size: 20px;
  font-weight: bold;
  flex: 2;
}

.buttons {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.buttons > button {
  height: 30px;
  font-size: 12px;
  font-weight: bold;
}
