body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.word-card {
  width: 300px;
  padding: 10px;
}

#see-more {
  margin-bottom: 20px;
  position: fixed;
  bottom: 50px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons > button {
  height: 35px;
  width: 120px;
  font-weight: bold;
}

.word{
  font-size: 25px;
  font-weight: bold;
}
